*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
  background-color: #303030;
  color: white;
  font-family: sans-serif;
}

.nav{
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
  border-radius: 15px;
  padding: 10px 40px;
}

.light{
  background-color: lightseagreen;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.dark{
  background-color: darkslategrey;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.nav2{
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.button{
  padding: 4px 20px;
  margin: 20px auto;
  display: block;
  font-size: 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}